<!--The content below is only a placeholder and can be replaced.-->

<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <ul class="nav navbar-nav">
            <li class="active">{{title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="contianer">
  <div class="col-md-8">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
      <agm-marker *ngFor="let mark of markers, let i=index"  (markerClick)="markerClicked(mark,i)" [latitude]="mark.lat" [longitude]="mark.lng" [markerDraggable]="mark.draggable" (dragEnd)="markerDragEnd(mark,$event)">
        <agm-info-window>
           <h5 style="color:black">{{mark.name}}</h5>
           <!-- <button type="button" name="button" (click)="removeMarker(mark)"> Remove WayPoint</button> -->
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Add WayPoint</h4>
      </div>
      <div class="panel-body">
        <form (submit)="addMarker()">
          <input class="form-control" type="text" [(ngModel)]="markerName" name="markerName" placeholder="Waypoint Name">
          <input class="form-control" type="text" [(ngModel)]="markerLat" name="markerLat" placeholder="Latitude">
          <input class="form-control" type="text" [(ngModel)]="markerLng" name="markerLng" placeholder="Longitude">
          <input class="form-control" type="submit" value="Add Waypoint">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Select Tour Stops</h4>
      </div>
      <div class="panel-body">
        <input class="form-control" type="text" [(ngModel)]="searchName" name="searchName" (keypress)="filterWaypoints()" placeholder="filter">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let marker of markers" (click)="addToTrip(marker)">{{marker.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Tour Stops</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let stop of tour">{{stop.name}}<span class="badge" (click)="removefromTrip(stop)">X</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Select Driver</h4>
      </div>
      <div class="panel-body">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item col-md-12"  *ngFor="let driver of drivers let i=index" (click)="selectDriver(i)">
                <img class="col-md-3" style="border-radius:50%" [src]="driver.img" alt="" />
                <div class="col-md-9">
                  <h4 [class.selected]="driver.selected">{{driver.name}}</h4>
                  <p [class.selected]="driver.selected" >{{driver.age}} Year-old</p>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>

</div>

<div class="container" style="text-align:center">
    <input class="form-control" style="width:200px" type="submit" value="Confirm Tour">
</div>
